.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
}

.btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  width: 80px;
  height: 80px;
  font-size: 17px;
  font-weight: 700;
}

.table {
  background: black;
  color: yellow;
  width: 600px;
  border: 5px solid yellow;
  border-spacing: 0;
}

.table td {
  padding: 5px;
}

.col-2 {
  border: 3px solid yellow;
  border-top: none;
  border-bottom: none;
  display: block;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bets {
  display: inline-flex;
  width: 550px;
  margin-top: 10px;
  justify-content: space-between;
}